/* =============================================================================
   Configurable variables that will change depending on project
   ========================================================================== */

$base-font-size:    16;
$base-line-height:  24;
$prefixes: -webkit, -moz, -ms, -o;

$primary: #CC0;
$secondary: #67a54b;
$tertiary: #f2f2f2;
$alert: #b22727;

// Now create different 'tones' for each primary colour
$primary-light: lighten($primary, 10%);
$primary-lighter: lighten($primary, 20%);
$primary-dark: darken($primary, 10%);
$primary-darker: darken($primary, 20%);

$site-max-width: 60em; // 960px / 16px (this being the baseline font size)

$space: 1em;